<!DOCTYPE html>
<html>
    <head>
        <title>Cards Against Boredom</title>
        <link href="/images/favicon.ico" rel="shortcut icon" />
        <link rel="stylesheet" href="/styles/cards.css" />
    </head>
    <body>
        <h1>Cards Against Boredom</h1>

        <p>A black card has been randomly selected along with the appropriate number of white cards to answer the
        question.</p>

        <div class="black-card">
            ${model.black.text}
        </div>

        <% model.whites.each { white-> %>
            <div class="white-card">
                ${white.text}
            </div>
        <% } %>

        <div>
            <a href="/">Draw Again</a>
        </div>

        <div class="cya">
            <p>
                <span>Disclaimer:</span>
                Card content extracted from <a href="http://cardsagainsthumanity.com">Cards Against Humanity</a>. Cards
                Against Humanity is distributed under a <a href="https://creativecommons.org/licenses/by-nc-sa/2.0/">Creative Commons BY-NC-SA 2.0 license</a>.
                "Cards Against Humanity" and the CAH logos are trademarks of Cards Against Humanity LLC. Designed in-house.
            </p>
        </div>
    </body>
</html>