
.black-card {
    font-family: sans-serif;
    background-color: black;
    color: white;
    width: 150px;

    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.white-card {
    margin-top: 6px;
    font-family: sans-serif;
    background-color: white;
    color: black;
    width: 150px;

    border-radius: 25px;
    border: 2px solid black;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.cya {
    margin-top: 10px;
    padding: 4px;
    border: 1px dashed gray;
}

.cya span {
    font-weight: bold;
    font-size: small;
}

.cya p {
    font-style: italic;
    font-size: small;
}